*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 1440px;
    margin: auto;
}
.header__banner__introduce{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 1440px;
    height: 50px;
    background: #099809;
    padding: 0px 16px;
    color: #fff;
}
.header__banner__introduce__menu li{
    display: inline;
}
.header__banner__introduce__menu li a{
    padding-left: 38px;
    text-decoration: none;
    color: #fff;
}
.header__banner__logo{
    padding: 16px 16px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    align-items: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__banner__logo__form input{
    width: 700px;
    height: 46px;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 0 20px;
    
}
.header__banner__logo__form{
        display: flex;
        align-items: center;
}
.header__banner__logo__time{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.header__banner__menu{
    width: 1440px;
    height: 50px;
    background: #099809;
    text-align: center;
    padding: 11.5px 0;
}
.header__banner__menu ul li{
    display: inline;
}
.header__banner__menu li a{
    padding: 0 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.banner{
    padding: 40px 0;
}
.main__product__sp{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 1440px;
    height: 50px;
    background: #099809;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.main__product__detail{
    padding: 30px 16px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 32px;
}
.main__product__detail__desc{
    margin: auto;
}
.main__product__detail__desc__sl{
    display: flex;
    align-items: center;
    padding: 50px 0;
}
h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}
.main__product__detail__desch2 p{
    padding-top: 35px;
}
.main__product__detail__desch2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: rgba(204, 24, 24, 0.78);
}
.main__product__detail__desc__sl p{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    padding-right: 40px;
}
.main__product__detail__desc__sl button a{
    font-size: 25px;
    color: #000000;
}
.main__product__detail__desc__sl button{
    height: 40px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #000000;
}
.main__product__detail__desc__sl button a{
    text-decoration: none;
}
.main__product__detail__desc__add button{
    width: 320px;
    height: 55px;
    background: #0B9696;
    border: none;
}
.main__product__detail__desc__add{
        padding-right: 30px;
}
.main__product__detail__desc__add button a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.main__product__detail__desc__add__buy{
    display: flex;
    align-items: center;
    padding: 60px 0;
}
.main__product__detail__desc__buy button{
    width: 189px;
    height: 55px;
    background: #FF0000;
    border: none;
}
.main__product__detail__desc__buy button a{
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.main__product__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
    padding: 30px 16px;
}
.main__product__text__img{
    text-align: center;
}
h3{
    padding: 30px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.main__product__text__content__quality{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 20px;
    color: #000000;
}
.main__product__text__content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 30px;
    color: #000000;
}
.main__product__grow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
    padding: 0 16px;
    padding: 30px 0;
}
h4 a{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.7);
}
h4{
    padding: 20px 0;
}
.main__product__grow__img__price{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #CC1818;
}
footer{
    width: 1442px;
    height: 593px;
    background: #099828;
}
.footer__introduce{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr; 
    grid-gap: 32px;

}
.footer__introduce__addres{
    padding-left: 30px;
} 
.footer__introduce__hpl__sport{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 80px;
}
.footer__introduce__hpl p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 50px;
}
.footer__introduce__addres__sport{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 80px;
}
.footer__introduce__addres__sport__hn{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-top: 50px;
}
.footer__introduce__addres__hn{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 10px;
}  
.footer__introduce__copyright{
    text-align: center;
    padding-top: 40px;
} 
.footer__introduce__copyright__img img{
    padding: 0 15px;
}
.footer__introduce__copyright__img p{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 20px;
}