*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 1440px;
    margin: auto;
}
.header__banner__introduce{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 1440px;
    height: 50px;
    background: #099809;
    padding: 0px 16px;
    color: #fff;
}
.header__banner__introduce nav ul{
    margin-right: 114px;
}
nav ul{
    margin-top: 6px;
}
nav li{
    display: inline;
}
nav li a{
    padding-left: 38px;
    text-decoration: none;
    color: #fff;
}
.header__banner__logo{
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__banner__logo__form input{
    width: 700px;
    height: 46px;
    background: url(.png);
    border: 1px solid #808080;
    border-radius: 10px 0 0 10px;
    padding: 0 20px;
    border-right: none;
}
.header__banner__logo__form img{
    margin-top: 4px;
    height: 46px;
    border: 1px solid #808080;
    border-left: none;
    border-radius: 0 10px 10px 0;
}
.header__banner__logo__form{
    display: flex;
    align-items: center;
}
.header__banner__menu{
    width: 1440px;
    height: 50px;
    background: #099809;
    text-align: center;
    padding: 11.5px 0;
}
.banner{
    padding: 40px 0;
}

.tittle{
    width: 100%;
    height: 56px;
    background-color: #099809;
}
.tittle span{
    display: inline-block;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 24px;
    margin: 13px 0 0 24px;
}
.main_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
    padding: 52px 20px;
}
.content p{
    color: #0000FFB2;
    font-size: 20px;
    margin-top: 21px;
    margin-bottom: 20px ;
}
.content img{
    width: 100%;
}
.content span{
    display: inline-block;
    color: #CC1818;
    font-size: 20px;
}

.footer{
    width: 100%;
    height: 540px;
    background-color: #099828;

}
.content_footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 437px;
    background-color: #099828;
}

.description {
    align-items: center;
    margin: 60px 0 0 164px;
    
}
.description span {
    margin-bottom: 50px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700px;
    display: block;
}

.description p{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    margin-right: 139px;
    font-style: italic;
    line-height: 21px;
    font-weight: 100px;
}

.information{
    align-items: center;
    margin: 60px 
}

.information span{
    margin-bottom: 50px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700px;
    display: block;
}

.name {
    color: #FFFFFF;
    font-size: 20px;
    
}
.dia_chi p{
    padding-top: 14px;
    color: #FFFFFF;
    font-size: 18px;
    margin-right: 139px;
    font-style: italic;
}
.descrip{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 28px;
    line-height: 20px;
}

.pay{
    display: flex;
    justify-content: center;
}

.pay img{
    margin-left: 43px;
}

.mail{
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800px;
    margin-top: 27px;
}